.DS_Store
.sass-cache
node_modules
npm-debug.log
psds
editaveis
pngs
private
fw
psd
png
editavel
arquivo
file
teste.php
etc/
.idea
/README.md
CHANGELOG.md
gitpull.patch
.mp3
.mp4
.ogg
.webm
.ogv
/node_modules