$global-responsive: 1190px;
$global-font-size: 14px;
$global-lineheight: 1.5;
$bgc: #fff;
$c: #ff0000;
$c2: #000;
$ct: #363537;
$bff: 'Roboto', sans-serif;

// menu responsivo
$lk-color: #000;
$lk-color-active: #fff;
$bg-color-active: $c;
$hamb-color: lighten(grey, 30%);